.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: var(--color-primary);
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter  0.2s;

    img {
        margin-right: 8px;
    }
    
    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    > div {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    > div svg {
        height: 24px !important;
        width: 24px !important;
    }
}

.outlined {
    background: #FFF !important;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.outlined:hover {
    background: var(--color-primary) !important;
    color: #FFF;
    filter: none !important;
} 

@media (max-width:480px) { 
    .button {
        height: 30px !important;
    }
}