:root {
  --background: #f8f8f8;
  --color: #29292e;

  --color-primary: #835afd;
  --color-secondary: #e559f9;
  --color-additional: #FFCE00;

  --color-primary-text: #737380;
  --color-secondary-text: #29292e;

  --color-google: #ea4335;
  --color-danger: #E73F5D;
}